// Styling for the masthead
header.masthead {
  color: white;
  background-image: url('../img/purple-seattle.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-color: $dark;
  background-blend-mode: overlay;
  @include background-cover;
  .intro-text {
    padding-top: 50%;
    .intro-lead-in {
      font-size: 20px;
      line-height: 20px;
      margin-bottom: 25px;
      @include serif-font;
    }
    .intro-heading {
      font-size: 25px;
      line-height: 25px;
      margin-bottom: 25px;
      @include heading-font;
    }
  }
}

@media(min-width:768px) {
  header.masthead {
    .intro-text {
      padding: 0%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
        .intro-lead-in {
        line-height: 30px;
      }
      .intro-heading {
        font-size: 35px;
        line-height: 35px;
        margin-bottom: 50px;
      }
    }
  }
}

@media(min-width:992px) {
  header.masthead {
    .intro-text {
      .intro-lead-in {
        font-size: 30px;
      }
      .intro-heading {
        font-size: 50px;
        line-height: 50px;
        margin-bottom: 50px;
      }
    }
  }
}