// Styling for the masthead
header.masthead {
  color: white;
  background-image: url('../img/team2017.jpg');
  height: 80vh;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-color: $dark;
  background-blend-mode: overlay;
  @include background-cover;
  .intro-text {
    padding-top: 35vh;
    padding-bottom: 50vh;
    .intro-lead-in {
      font-size: 3vh;
      line-height: 3vh;
      margin-bottom: 25px;
      @include serif-font;
    }
    .intro-heading {
      font-size: 5vh;
      line-height: 5vh;
      margin-bottom: 25px;
      @include heading-font;
    }
  }
}

@media(min-width:768px) {
  header.masthead {
    .intro-text {
      .intro-heading {
        font-size: 7vh;
        line-height: 7vh;
        margin-bottom: 50px;
      }
    }
  }
}

@media(min-width:992px) {
  header.masthead {
    height: 100vh;
    .intro-text {
      .intro-lead-in {
        font-size: 6vh;
      }
      .intro-heading {
        font-size: 9vh;
        line-height: 9vh;
        margin-bottom: 50px;
      }
    }
  }
}
